@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ping {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(180deg) scale(3);
        opacity: 0;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes popupword {
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
}