@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: no-preference) {
    @keyframes ping {
        from {
            transform: rotate(0deg) scale(1);
        }
        to {
            transform: rotate(180deg) scale(3);
            opacity: 0;
        }
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes mouse-scroll {
        50% {
            top: 1.5rem;
        }
        100% {
            top: -1.5rem;
        }
    }

    @keyframes up-down-slide {
        0% {
            transform: translateY(0%);
        }
        50% {
            transform: translateY(-33.333333%);
        }
        100% {
            transform: translateY(0%);
        }
    }

    .mouse-animation:after {
        animation: mouse-scroll 3s infinite;
    }

    @keyframes infinite-scroll {
        100% {
            transform: translate(calc(-50% - 0.625rem))
        }
    }

    @keyframes infinite-scroll2 {
        100% {
            transform: translate(calc(-50% - 3rem))
        }
    }
}

@media (width > 1024px) {
    .swiper {
        overflow: visible !important;
    }
}

@keyframes popupword {
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes popupword-15 {
    100% {
        transform: translateZ(0);
        opacity: 0.15;
    }
}

.project-name p {
    opacity: 0;
}

.project-name:hover {
    p {
        animation: popupurl-hover 200ms ease-in forwards;
        opacity: 100;
        transition: all 200ms ease-in;
    }
}

.project-name:not(:hover) {
    p {
        opacity: 0;
        transition: all 200ms ease-out;
        animation: popupurl-unhover 200ms ease-out forwards;
    }
}

@keyframes popupurl-hover {
    0% {
        height: 0;
        width: 0;
        transform: translateY(15px);
    }

    100% {
        height: fit-content;
        width: fit-content;
        transform: translateY(-2px);
    }
}

@keyframes popupurl-unhover {
    0% {
        height: fit-content;
        width: fit-content;
        transform: translateY(-2px);
    }

    99% {
        height: fit-content;
        width: fit-content;
        transform: translateY(15px);
    }

    100% {
        height: 0;
        width: 0;
        transform: translateY(15px);
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #000d09;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #FED700;
}

::-webkit-scrollbar-thumb:hover {
    cursor: n-resize;
    background: #FED700;
}

::-moz-selection {
    color: #122620;
    background: #FED700;
}

::selection {
    color: #122620;
    background: #FED700;
}

input{
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.swiper-button-disabled {
    opacity: .5;
}

.swiper-button-disabled:hover {
    opacity: .5 !important;
}